In [2]:
import pandas as pd
import os

In [3]:
dir_list = os.listdir('birders')
dir_list

['.DS_Store',
 '.ipynb_checkpoints',
 'AK_16.csv',
 'AK_17.csv',
 'AL_16.csv',
 'AL_17.csv',
 'AR_16.csv',
 'AR_17.csv',
 'AZ_16.csv',
 'AZ_17.csv',
 'CA_16.csv',
 'CA_17.csv',
 'CO_16.csv',
 'CO_17.csv',
 'CT_16.csv',
 'CT_17.csv',
 'DC_16.csv',
 'DC_17.csv',
 'DE_16.csv',
 'DE_17.csv',
 'FL_16.csv',
 'FL_17.csv',
 'GA_16.csv',
 'GA_17.csv',
 'HI_16.csv',
 'HI_17.csv',
 'IA_16.csv',
 'IA_17.csv',
 'ID_16.csv',
 'ID_17.csv',
 'IL_16.csv',
 'IL_17.csv',
 'IN_16.csv',
 'IN_17.csv',
 'KS_16.csv',
 'KS_17.csv',
 'KY_16.csv',
 'KY_17.csv',
 'LA_16.csv',
 'LA_17.csv',
 'MA_16.csv',
 'MA_17.csv',
 'MD_16.csv',
 'MD_17.csv',
 'ME_16.csv',
 'ME_17.csv',
 'MI_16.csv',
 'MI_17.csv',
 'MN_16.csv',
 'MN_17.csv',
 'MO_16.csv',
 'MO_17.csv',
 'MS_16.csv',
 'MS_17.csv',
 'MT_16.csv',
 'MT_17.csv',
 'NC_16.csv',
 'NC_17.csv',
 'ND_16.csv',
 'ND_17.csv',
 'NE_16.csv',
 'NE_17.csv',
 'NH_16.csv',
 'NH_17.csv',
 'NJ_16.csv',
 'NJ_17.csv',
 'NM_16.csv',
 'NM_17.csv',
 'NV_16.csv',
 'NV_17.csv',
 'NY_16.csv',
 'NY_17.csv',
 'OH_16.csv',
 'OH_17.csv',
 'OK_16.csv',
 'OK_17.csv',
 'OR_16.csv',
 'OR_17.csv',
 'PA_16.csv',
 'PA_17.csv',
 'RI_16.csv',
 'RI_17.csv',
 'SC_16.csv',
 'SC_17.csv',
 'SD_16.csv',
 'SD_17.csv',
 'TN_16.csv',
 'TN_17.csv',
 'TX_16.csv',
 'tx_17.csv',
 'UT_16.csv',
 'UT_17.csv',
 'VA_16.csv',
 'VA_17.csv',
 'VT_16.csv',
 'VT_17.csv',
 'WA_16.csv',
 'WA_17.csv',
 'WI_16.csv',
 'WI_17.csv',
 'WV_16.csv',
 'WV_17.csv',
 'WY_16.csv',
 'WY_17.csv']

In [9]:
#make a list with all the CSV file names
files=[]
for i in range(0,len(dir_list)-1):
    if dir_list[i].endswith('.csv'):
        files.append(dir_list[i])

In [17]:
df = pd.read_csv('birders/'+files[0])

In [18]:
df['Year']=2016
df.head()

   day  month  numChecklists  numContributors  numSpecies state  Year
0    1      1             94               45          86    AK  2016
1    2      1             72               41          75    AK  2016
2    3      1             66               43          95    AK  2016
3    4      1             36               26          82    AK  2016
4    5      1             39               30          81    AK  2016

In [27]:
for i in range (1,len(files)-1):
    add_df = pd.read_csv('birders/'+files[i])
    if files[i].endswith('16.csv'):
        add_df['Year']=2016
    else:
        add_df['Year']=2017
    df=pd.concat([df,add_df])

In [31]:
#write consolidated CSV file
df.to_csv('birders/complete_data.csv')