In [1]:
import pandas as pd

In [2]:
stc = pd.read_csv('state_checklists.csv')
stc.head()

                 birds state category_name
0          Brown Booby    AK             0
1     Red-footed Booby    AK             0
2     White-faced Ibis    AK             0
3       Turkey Vulture    AK             0
4  Black Oystercatcher    AK             0

In [4]:
stc_j = stc.to_json(orient='records')

In [5]:
import json
with open('state_checklists.js', 'w') as outfile:
    json.dump(stc_j, outfile)